.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #ff7979;
  color: white;
  flex: 1;
  outline: 1px solid #888888;
}

.operator {
  background-color: #eb4d4b;
  color: #ffffff;
}
